body {
    background-color: #FFF5E4;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FFD1D1;
    border-width: 10px;
    width: 10%;
}

h1 {
    color:#FF9494;
    font-family: "Gill Sans Extrabold", sans-serif;
}

h3 {
    color:#FF9494;
    font-family: "Gill Sans Extrabold", sans-serif;
}

p {
    font-family: "Gill Sans Extrabold", sans-serif;
}

table {

    font-family: "Gill Sans Extrabold", sans-serif;
}

ul {
    font-family: "Gill Sans Extrabold", sans-serif;
}

ol {

    font-family: "Gill Sans Extrabold", sans-serif;
}

form {

    font-family: "Gill Sans Extrabold", sans-serif;
}

